<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/store.css">
    <title>Document</title>
</head>

<body>
    <div class="store">
        <div class="store__iconSwitch">
            <svg class="iconSwitch" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                viewBox="0 0 24 24" width="24px" fill="currentColor">
                <rect fill="none" height="24" width="24" />
                <path
                    d="M3,14h4v-4H3V14z M3,19h4v-4H3V19z M3,9h4V5H3V9z M8,14h13v-4H8V14z M8,19h13v-4H8V19z M8,5v4h13V5H8z" />
            </svg>
        </div>
        <div class="wrapper">
            <div class="store__cards store__cards_list ">
                <div class="card card_list card_module">
                    <div class="card__header">
                        <span class="card__name">NIKE</span>
                        <span class="card__description">red</span>
                    </div>
                    <div class="card__picture">
                        <img class="card__img"
                            src="https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/1.jpg"
                            alt="sport_product">
                    </div>
                    <div class="card__footer">
                        <div class="card__price">$130</div>
                        <button class="button  card__button">
                            Add to Card
                        </button>
                    </div>
                </div>
                <div class="card card_list card_module">
                    <div class="card__header">
                        <span class="card__name">NIKE</span>
                        <span class="card__description">red</span>
                    </div>
                    <div class="card__picture">
                        <img class="card__img"
                            src="https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/1.jpg"
                            alt="sport_product">
                    </div>
                    <div class="card__footer">
                        <div class="card__price">$130</div>
                        <button class="button  card__button">
                            Add to Card
                        </button>
                    </div>
                </div>
                <div class="card card_list card_module">
                    <div class="card__header">
                        <span class="card__name">NIKE</span>
                        <span class="card__description">red</span>
                    </div>
                    <div class="card__picture">
                        <img class="card__img"
                            src="https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/1.jpg"
                            alt="sport_product">
                    </div>
                    <div class="card__footer">
                        <div class="card__price">$130</div>
                        <button class="button  card__button">
                            Add to Card
                        </button>
                    </div>
                </div>
                <div class="card card_list card_module">
                    <div class="card__header">
                        <span class="card__name">NIKE</span>
                        <span class="card__description">red</span>
                    </div>
                    <div class="card__picture">
                        <img class="card__img"
                            src="https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/1.jpg"
                            alt="sport_product">
                    </div>
                    <div class="card__footer">
                        <div class="card__price">$130</div>
                        <button class="button  card__button">
                            Add to Card
                        </button>
                    </div>
                </div>
                <div class="card card_list card_module">
                    <div class="card__header">
                        <span class="card__name">NIKE</span>
                        <span class="card__description">red</span>
                    </div>
                    <div class="card__picture">
                        <img class="card__img"
                            src="https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/1.jpg"
                            alt="sport_product">
                    </div>
                    <div class="card__footer">
                        <div class="card__price">$130</div>
                        <button class="button  card__button">
                            Add to Card
                        </button>
                    </div>
                </div>
                <div class="card card_list card_module">
                    <div class="card__header">
                        <span class="card__name">NIKE</span>
                        <span class="card__description">red</span>
                    </div>
                    <div class="card__picture">
                        <img class="card__img"
                            src="https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/1.jpg"
                            alt="sport_product">
                    </div>
                    <div class="card__footer">
                        <div class="card__price">$130</div>
                        <button class="button  card__button">
                            Add to Card
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>